# **Functions**
______________________________

## Contents:
- [Functions without parameters](#Functions-without-parameters)
- [Functions with parameters](#Functions-with-parameters)
- [Local and global variables](#Local-and-global-variables)
- [Returning functions](#Returning-functions)
- [Positional arguments](#Positional-arguments)
- [Keyword arguments](#Keyword-arguments)
- [Default arguments](#Default-arguments)
- [\*args](#Variable-number-of-positional-arguments)
- [\*\*kwargs](#Variable-number-of-keyword-arguments-as-a-dictionary)
- [Correct order of arguments](#Correct-order-of-all-type-of-arguments)
- [Functions as objects](#Functions-as-objects)
- [Functions as arguments for other functions](#Functions-as-arguments-for-other-functions)
- [Functions as return values of other functions](#Functions-as-return-values-of-other-functions)
- [map(), filter(), reduce()](#Standard-functions-map(),-filter(),-reduce())
- [BONUS!!! Module operator](#Module-operator)
- [Anonymous functions | lambda](#Anonymous-function,-lambda)
- [any(), all(), zip(), enumerate()](#Standard-functions-any(),-all(),-zip(),-enumerate())
- [Problems](#Problems)

## **`Functions without parameters`**

    def <function_name>():
        <block_of_code>

In [1]:
# declare function
def print_message():
    print('My name is Bond')
    print('James Bond')

# call function
print_message()

My name is Bond
James Bond

In [2]:
# empty function
def do_nothing():
    pass

## **`Functions with parameters`**

    def <function_name>(<parameters>):
        <block_of_code>

#### **Names** inside the function = **parameters**
#### **Values** of those parameters = **arguments**

In [3]:
# function that takes 2 numbers as parameters (width and height) and draws a figure
def draw_box(height, width):
    for i in range(height):
        print('*' * width)

In [4]:
# calling this function with direct numbers as arguments
draw_box(4, 37)

*************************************
*************************************
*************************************
*************************************

In [5]:
# calling this function with parametric variables as arguments
w = 4
h = 37
draw_box(w, h)

*************************************
*************************************
*************************************
*************************************

In [6]:
# can put any object in function as a parameter

# determine variables
txt = 'Hello'
n = 4

# declare a function
def print_text(text, number):
    print(txt * n)

# calling a function with variables as parameters
print_text(txt, n)

HelloHelloHelloHello

## **`Local and global variables`**

**`local variable`** - variables declared in a function and are available only inside this function

In [7]:
# declare a function with local variable BIRDS
def print_texas():
    birds = 5000
    print(f'There are {birds} bird species in Texas') 

# try to declare another function with variable declared in print_texas() function
def print_california():
    print(f'There are {birds} bird species in California')

In [8]:
# call print_texas() function - OK
print_texas()

There are 5000 bird species in Texas

In [9]:
# call print_california() function - NOK

In [10]:
# because the local variable are closed for another functions,
# it is possible to use the same name for different local variables
def print_texas():
    birds = 5000
    print(f'There are {birds} bird species in Texas') 
    
def print_california():
    birds = 7000
    print(f'There are {birds} bird species in California')

In [11]:
# both functions work well
print_texas()
print_california()

There are 5000 bird species in Texas
There are 7000 bird species in California

**`global variable`** - variables declared in a main program and are available for all functions. Try to avoid global variables!

In [12]:
# BIRDS is a global variable and used in both functions below
birds = 6000

def print_texas():
    print(f'There are {birds} bird species in Texas') 
    
def print_california():
    print(f'There are {birds} bird species in California')

In [13]:
# both functions work well
print_texas()
print_california()

There are 6000 bird species in Texas
There are 6000 bird species in California

**`operator global`** - makes a variable global although it is declared inside a function.

In [14]:
# making BIRDS variable global

def print_texas():
    global birds
    birds = 7000
    print(f'There are {birds} bird species in Texas') 
    
def print_california():
    print(f'There are {birds} bird species in California')

In [15]:
# both functions work well
print_texas()
print_california()

There are 7000 bird species in Texas
There are 7000 bird species in California

## **`Returning functions`**

#### `returning function` - function that returns a value of its result

    def <function_name>():
        <block_of_code>
        return <what_should_be_returned>

#### examples of `returning functions:`

    int()
    float()
    range()
    abs()
    len()

In [16]:
# function that converts Fars to Cels:
def convert_to_celsius(temp):
    result = round((5 / 9) * (temp - 32))
    return result 
# can be easier without variable 'result' with just 'return round((5 / 9) * (temp - 32))'

# main program using function above
temp = float(input('Input temperature in Fars: '))
convert_to_celsius(temp)

Input temperature in Fars:  120

49

In [17]:
# function to find a hypotenuse of a triangle with given catets
def compute_hypotenuse(a, b):
    c = (a ** 2 + b ** 2) ** 0.5
    return c

# function to find a distance between 2 points with given coordinates
def get_distance(x1, y1, x2, y2):
    return compute_hypotenuse(x1 - x2, y1 - y2)

**`predicate`** - function that returns True or False

In [18]:
# boolean function 
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [19]:
# a code using boolean function
number = int(input())
if is_even(number): # if function is_even() returns True
    print('This number is even')
else: # if function is_even() returns False
    print('This number is odd')

 5

This number is odd

#### `returning functions` can return more than one value

In [20]:
# function that returns coordinates of a point on the section which is in the middle of this section
def get_middle_point(x1, y1, x2, y2):
    return (x1+x2)/2, (y1+y2)/2 # result is a tuple of values

In [21]:
get_middle_point(0, 0, 10, 10)

(5.0, 5.0)

#### **`handling exceptions`**

    try: ... except:

Put operators that may result an error in block `try`. Then put operators in block `except` that run in case of error in `try`.

In [22]:
def f_x(x):
    try:
        y = 1 / (x + 1) + x / (x - 3) # in this equation, there might be a division by zero
    except:
        y = 'division by zero detected' # in case of division by zero, we conclude that y is infinite
    return y

In [23]:
t = float(input()) # if we input -1, there's a division be zero error
y = f_x(t)
y

 -1

'division by zero detected'

## **`Positional arguments`**

### A `positional argument` is an argument whose position matters in a function call ###

In [24]:
def diff(x, y):
    return x - y

diff(5, 3) # no need to name arguments, as first position arg is x, second is y

2

## **`Keyword arguments`**

### `Keyword` arguments (or named arguments) are values that, when passed into a function, are identifiable by specific parameter names.

In [25]:
diff(y=3, x=5) # arguments are named

2

#### It is recommended to use `keyword` arguments when there are more than 3 arguments in function

#### It is possible to combine `positional` and `keyword` arguments, but `positional` arguments should always come first (before `keyword` arguments)

In [26]:
diff(5, y=3)

2

## **`Default arguments`**

### `Default` arguments that have default values. If the function is called without the argument, the argument gets its default value

In [27]:
# example of a well-known function with default argument
print('Hello') # we do not specify what will be after Hello, but on default it is '\n'

Hello

#### We can change default values by directly changing it in a function call

In [28]:
print('Hello', end='!') # we change default value for argument 'end' from '\n' to '!'

Hello!

#### A good practice to define deafult value to `None`. It helps while dealing with mutable data types as a default value of an argument

In [29]:
# create a function that appends a new element
def append(elt, seq=[]):
    seq.append(elt)
    return seq

#### It works well when we put both arguments into a function:

In [30]:
print(append(10, [1, 2, 3]))
print(append(5, [1]))

[1, 2, 3, 10]
[1, 5]

#### But when we skip the second argument (which is deafult) we face with unexpected result:

In [31]:
print(append(10))
print(append(5))
print(append(22))

[10]
[10, 5]
[10, 5, 22]

#### To fix it we use `None` as a value for `default` arguments:

In [32]:
def append(elt, seq=None):
    if seq is None:
        seq = []
    seq.append(elt)
    return seq

In [33]:
print(append(10))
print(append(5))
print(append(22))

[10]
[5]
[22]

### Good Example

Create a function that returns a matrix with the following rules:
* `matrix()` - should return a 1x1 matrix with only one zero value
* `matrix(3)` - should return a 3x3 matrix with zeros
* `matrix(3, 4, 9)` - should return a 3x4 matrix with nines

In [34]:
def matrix(n=1, m=None, value=0):
    if m is None:
        m = n
    if n == 1:
        m = n
    return [[value]*m for _ in range(n)]

## **`Variable number of positional arguments`**

#### A function `print()` for example can take any number of values and print all of them

#### The same can be implemented in any function using parameter `*args`

#### `*args` are `positional` arguments

In [35]:
def func(*args): # *args takes all arguments given into a func as a tuple
    print(type(args))
    print(args)

In [36]:
func('a', 2, True)

<class 'tuple'>
('a', 2, True)

#### Parameter `*args` can be used only once and should be placed at the end

In [37]:
def func2(num, *args):
    print(num)
    print(args)

In [38]:
func2(17, 'd', [1, 2], True, 23)

17
('d', [1, 2], True, 23)

### **`Positional arguments as lists and tuples`**

#### Sometimes we want to form a list (tuple) of arguments and then place it in a function

#### In these cases we can put an unpacked list or tuple into a function as an argument:

In [39]:
func(*[1, 2, 3, 4])

<class 'tuple'>
(1, 2, 3, 4)

#### Recall that the standard function `sum()` takes only one argument and returns the sum of its elements. That can be not convenient sometimes, so an enhanced `my_sum()` function can be created:

In [40]:
def my_sum(*args):
    return sum(args)

Now we can put as many arguments to calculate their sum as we need:

In [41]:
my_sum(1, 2, *[3, 4, 10], 100, *(200, 80))

400

## **`Variable number of keyword arguments as a dictionary`**

#### The same approach as for `positional` arguments using `*args`, we have with variable number of `keyword` arguments using `**kwargs`

#### `**kwargs` parameter should be placed at the very end - after all `positional` and `keyword` arguments

In [42]:
def my_func3(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [43]:
my_func3(a=1, b=2) # returns a dictionary

<class 'dict'>
{'a': 1, 'b': 2}

### **`Keyword arguments as dictionaries`**

#### We can put `keyword` arguments into a function as a dictionary of variable number of values:

In [44]:
info = {'name':'Tom', 'age':'30', 'job':'designer'}

In [45]:
my_func3(**info)

<class 'dict'>
{'name': 'Tom', 'age': '30', 'job': 'designer'}

## **`Correct order of all type of arguments`**

#### `positional` - `*args` - `keyword` - `**kwargs`

In [46]:
def my_func4(a, b, *args, name='Tom', age='30', **kwargs):
    print(a, b)
    print(args)
    print(name, age)
    print(kwargs)

In [47]:
my_func4(1, 2, 3, 4, 5, 6, name='John', age=28, job='Teacher', language='English')

1 2
(3, 4, 5, 6)
John 28
{'job': 'Teacher', 'language': 'English'}

In [48]:
my_func4(1, 2) # put only 2 required positional arguments 'a' and 'b'

1 2
()
Tom 30
{}

### Examples

1. Create a function that takes any number of different type arguments and returns a mean of all integers and floats

In [49]:
def mean(*args):
    lst = [i for i in args if type(i) in (int, float)]
    return sum(lst)/len(lst) if lst else 0 # returns mean if lst is not empty (otherwise division by zero error)

In [50]:
mean('a', 2, 4.0, True, [2, 3])

3.0

2. Create a function that takes any number of names (at least one) as string arguments and returns a greeting like 'Hello, Tom!' if only 1 name and 'Hello, Tom and John and Mark!' if 3 names

In [51]:
def greetings(name, *args):
    return f'Hello, {" and ".join([name, *args])}!'

In [52]:
greetings('Tom')

'Hello, Tom!'

In [53]:
greetings('Tom', 'John', 'Mark')

'Hello, Tom and John and Mark!'

## **`Functions as objects`**

#### `Functions` in python are objects:

In [54]:
print(type(print))
print(type(sum))
print(type(abs))

<class 'builtin_function_or_method'>
<class 'builtin_function_or_method'>
<class 'builtin_function_or_method'>

In [55]:
def hello():
    print('Hello')

print(type(hello))

<class 'function'>

#### So, we can work with `functions` like with objects:

In [56]:
func = hello # function `hello()` can be saved to a variable 
func()

Hello

In [57]:
writeln = print # rename function `print()` to writeln()
writeln('Pascal')

Pascal

#### If we have a number of `functions` and we want to run one of them based on its name from the input, we can do the following:

In [58]:
# first define the functions we need
def square(x=1):
    return x**2

def cube(x=1):
    return x**3

def summ(x=1, y=1):
    return x + y

def stop():
    pass

# put the functions in a dictionary with their names as keys
commands = {'square': square, 'cube': cube, 'sum': summ, 'stop': stop}

# ask what function is needed
command = input()

# call a required function
commands[command](3)

 cube

27

## **`Functions as arguments for other functions`**

#### As `functions` are objects, we can use them as arguments for other `functions`

In [59]:
# first define our functions
def square(x):
    return x**2

def make_sum(x, y):
    return x + y**2

In [60]:
# we can put a function `square` as argument for a function `make_sum`
make_sum(square(2), 3)

13

#### Standard `functions` can also use standard `functions` as arguments

#### Functions **`min()`, `max()` and `sorted()`** can take a function as an argument to compare elements by this argument

In [61]:
# let's have a list of numbers
nums = [10, -7, 8, -100, -50, 32, 87, -117, 110]

In [62]:
# what if we want to find a number which is maximum by its absolute value
max(nums, key=abs)

-117

In [63]:
# or minimum by its absolute value
min(nums, key=abs)

-7

In [64]:
# or want to sort numbers by their absolute values
sorted(nums, key=abs)

[-7, 8, 10, 32, -50, 87, -100, 110, -117]

In [65]:
# let's have a list of numbers in pairs as tuples
pairs = [(1, -1),(2, 3),(-10, 15),(10, 9),(1, 5), (2, -4)]

In [66]:
# if we want to sort them by their first number and then the second, we use standard sorted()
sorted(pairs)

[(-10, 15), (1, -1), (1, 5), (2, -4), (2, 3), (10, 9)]

In [67]:
# but if we want to sort pairs by the second number or by its sum
# we need first to create comparator functions
def compare_by_second_number(x):
    return x[1]

def compare_by_sum(x):
    return x[0] + x[1]

# let's sort `pairs` by the second number
print(sorted(pairs, key=compare_by_second_number))

# and by its sum
print(sorted(pairs, key=compare_by_sum))

[(2, -4), (1, -1), (2, 3), (1, 5), (10, 9), (-10, 15)]
[(2, -4), (1, -1), (2, 3), (-10, 15), (1, 5), (10, 9)]

## **`Functions as return values of other functions`**

#### `Functions` may be the result of other `functions`

In [68]:
def generator():
    def hello():
        print('Hi!')
    return hello

#### The result of `generator()` can be saved in a variable and then use it:

In [69]:
func = generator()
func()

Hi!

#### So, `functions` can be defined inside another `functions`

In [70]:
def generator_square_polynom(a, b, c):
    def square_polynom(x):
        return a*x**2 + b*x + c
    return square_polynom

In [71]:
f = generator_square_polynom(a=1, b=2, c=1)
f(3) # `3` is an `x` in `square_polynom`

16

## **`Standard functions map(), filter(), reduce()`**

#### `map()`, `filter()`, `reduce()` are good examples of higher order functions

### **Standard function `map()`**

#### `map(func, *iterables)`

#### `map()` is a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.)

#### `map()` is used when you want to apply a single transformation function to all the iterable elements. The iterable and function are passed as arguments to the map in Python.

#### `map()` returns an iterable object that can be converted further

<p>

If we have a list of numbers as string values:

In [72]:
lst = ['1','2','3','4','5']

then if if we want to convert each value to an integer, we can do either this:

In [73]:
n1 = [int(i) for i in lst]

or that:

In [74]:
n2 = list(map(int, lst)) # as `map()` returns iteratable object, we convert it into a list

The result would be the same

In [75]:
print(n1)
print(n2)
print(n1 == n2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
True

#### Any `function` can be placed as an argument to `map()` function

In [76]:
def inc(num):
    return num + 1

list(map(inc, n1))

[2, 3, 4, 5, 6]

#### We can put string methods as an argument for `map()`

In [77]:
names = ['tom', 'john', 'mark']

list(map(str.capitalize, names))

['Tom', 'John', 'Mark']

#### `map()` can take more than one sequences

#### In this case `func` will take several elements from the equal places of the sequences

In [78]:
def func(elt1, elt2, elt3):
    return elt1 + elt2 + elt3

nums1 = [1, 2, 3, 4, 5]
nums2 = [10, 20, 30, 40, 50]
nums3 = [100, 200, 300, 400, 500]

list(map(func, nums1, nums2, nums3))

[111, 222, 333, 444, 555]

#### If there are different number of values in sequences, then min amount is a limit

In [79]:
nums4 = [1, 2, 3, 4]
nums5 = [10, 20]
nums6 = [100, 200, 300, 400, 500]

list(map(func, nums4, nums5, nums6))

[111, 222]

#### All type data types may be a sequence in `map()`

In [80]:
floats = [3.56773, 5.232, 7.63221, 8.2423, 2.645]

list(map(round, floats, [2]*len(floats))) # round is a func that takes each argument from 
# the sequence [[2], [2], [2], [2], [2]] and works on each value of `floats`

[3.57, 5.23, 7.63, 8.24, 2.65]

In [81]:
from math import pi

pis = [pi]*6
list(map(round, pis, range(1, 7)))

[3.1, 3.14, 3.142, 3.1416, 3.14159, 3.141593]

### **Standard function `filter()`**

#### `filter(func, iterables)`

#### `filter()` filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

#### `filter()` returns an iterable object that can be converted further

#### `func` in `filter()` is a function that returns `True` or `False`

In [82]:
def func(elt):
    return elt > 0 # returns True if elt > 0, else False

# we have a list of numbers
nums = [-1, 0, 34, -233, 6, 1]

# let's sort out only positive values
list(filter(func, nums))

[34, 6, 1]

#### We can put `None` as a func to check if element from the sequence is not 0 or empty

In [83]:
list(filter(None, [1, 0, 10, '', None, [], [1, 2,3], ()]))

[1, 10, [1, 2, 3]]

#### We can put string method as a func to filter elements

In [84]:
chars = ['x', 'y', '2', '3', 'a']

# filter only letters
list(filter(str.isalpha, chars))

['x', 'y', 'a']

#### Standard functions, `map()` and `filter()` can be used alltogether to create a filtering-transforming chain

In [85]:
# create a code that calculates the sum of squares of 2-digit numbers that are divisible by 7 without a remainder 

numbers = [77, 293, 28, 242, 213, 285, 71, 286, 144, 276, 61, 298, 280, 214, 156, 227, 51, -4, -8]

# function for filtering the numbers
def nums(x):
    return 9 < x < 100 and x % 7 == 0

# function to transform numbers
def square(x):
    return x**2

# print out result
sum(map(square, filter(nums, numbers)))

6713

### **Function `reduce()`**

#### `reduce()` is not a standard function. It is located in module `functools`

#### `reduce()` is a function that implements a mathematical technique called folding or reduction

#### `reduce()` is useful when you need to apply a function to an iterable and reduce it to a single cumulative value

#### `reduce()` performs a rolling-computation by taking a function and an iterable as arguments and returns the final computed value.

#### `reduce(func, iterable, initializer=None)`

In [86]:
from functools import reduce

def add(a, b):
    return a + b

def mult(a, b):
    return a*b

print(reduce(add, [1, 2, 3, 4], 0)) # where `0` is a starting point, can be skipped in this example
print(reduce(mult, [1, 2, 3, 4, 5], 10)) # where `10` is a starting point

10
1200

## **Module `operator`**

#### In order to have standard math functions, that can be used in `map()`, `filter()` and `reduce()` we can import them from the module `operator`

In [87]:
from operator import *

#### A short list of math functions in `operator`:

| Operation | Syntax | Function |
| --- |--- |--- |
| addition | `a + b` | `add(a, b)` |
| containment test | `obj in seq` | `contains(seq, obj)` |
| division | `a / b` | `truediv(a, b)` |
| division | `a // b` |`floordiv(a, b)` |
| exponentiation | `a ** b` | `pow(a, b)` |
| modulo | `a % b` | `mod(a, b)` |
| multiplication | `a * b` | `mul(a, b)` |
| negation | `-a` | `neg(a)` |
| substraction | `a - b` | `sub(a, b)` |
| ordering | `a < b` | `lt(a, b)` |
| ordering | `a <= b` | `le(a, b)` |
| ordering | `a > b` | `gt(a, b)` |
| ordering | `a >= b` | `ge(a, b)` |
| equality | `a == b` | `eq(a, b)` |
| difference | `a != b` | `ne(a, b)` |

In [89]:
words = ['Testing ', 'shows ', 'the ', 'presence', ', ', 'not ', 'the ', 'absence ', 'of ', 'bugs']
numbers = [1, 2, -6, -4, 3, 9, 0, -6, -1]

# print out numbers with the opposite sign
print(*(map(neg, numbers)))

# concatenation of strings from the list of strings
print(reduce(add, words))

-1 -2 6 4 -3 -9 0 6 1
Testing shows the presence, not the absence of bugs

## **`Anonymous function, lambda`**

#### An `anonymous function` is a function that is defined without a name

#### While normal functions are defined using the `def` keyword, `anonymous functions` are defined using the `lambda` keyword

#### `Anonymous functions` are also called `lambda` functions

#### Usually `lambda` functions are short and used once

#### `lambda <parameters> : <value_operation>`

In [92]:
# These two examples are equal:

def square(x):     # define standard function
    return x**2

lmb = lambda x: x**2     # define lambda function and save it variable `lmb`

In [94]:
# result of these functions is the same
print(square(3))
print(lmb(3))

9
9

### **Single use of a function**

#### Previously described a way to sort pairs of numbers by the second number or by the sum of numbers can be simplified using `lambda` function

In [96]:
points = [(1, -1), (2, 3), (-10, 15), (10, 9), (7, 18), (1, 5), (2, -4)]

print(sorted(points, key=lambda x: x[1])) # sorting by the second number
print(sorted(points, key=lambda x: x[0] + x[1])) # sorting by the sum of numbers

[(2, -4), (1, -1), (2, 3), (1, 5), (10, 9), (-10, 15), (7, 18)]
[(2, -4), (1, -1), (2, 3), (-10, 15), (1, 5), (10, 9), (7, 18)]

### **Taking `lambda` function as an argument to another function**

In [100]:
# lambda function with 1 parameter
numbers = [1, 2, 3, 4, 5, 6]

print(list(map(lambda x: x+1, numbers)))
print(list(map(lambda x: x*2, numbers)))
print(list(map(lambda x: x**2, numbers)))

[2, 3, 4, 5, 6, 7]
[2, 4, 6, 8, 10, 12]
[1, 4, 9, 16, 25, 36]

In [101]:
# lambda function with 2 parameters
strings = ['a', 'b', 'c', 'd', 'e']
numbers = [3, 2, 1, 4, 5]

print(list(map(lambda x, y: x*y, strings, numbers)))

['aaa', 'bb', 'c', 'dddd', 'eeeee']

In [103]:
# lambda function in filter() function
numbers = [-1, 2, -3, 4, 0, -20, 10, 30, -40, 50, 100, 90]

positive_numbers = list(filter(lambda x: x > 0, numbers))
large_numbers = list(filter(lambda x: x > 50, numbers))
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# with strings
words = ['python', 'stepik', 'beegeek', 'iq-option']

long_words = list(filter(lambda w: len(w) > 6, words))    #  слова длиною больше 6 символов
words_with_e = list(filter(lambda w: 'e' in w, words))      #  слова содержащие букву e

In [112]:
# lambda function in reduce() function
words = ['python', 'c++', 'rust', 'java']
numbers = [1, 2, 3, 4, 5, 6]

print(reduce(lambda x, y: x + y, numbers))         # sum of numbers
print(reduce(lambda x, y: x * y, numbers))         # product of numbers
print(reduce(lambda x, y: x + ' loves ' + y, words, 'Everyone')) # sentence

21
720
Everyone loves python loves c++ loves rust loves java

### **Returning a `lambda` function as the result of another function**

In [114]:
# previously mentioned code
def generator_square_polynom(a, b, c):
    def square_polynom(x):
        return a*x**2 + b*x + c
    return square_polynom

# is equal to:
def generator_square_polynom(a, b, c):
    return lambda x: a*x**2 + b*x + c

In [123]:
# example
high_ord_func = lambda x, func: x + func(x)

result = high_ord_func(2, lambda x: x * x) + high_ord_func(5, lambda x: x + 3)

print(result)

19

### **Operators `if - else` in a `lambda` function**

#### `Ternary conditional operator` can be used in `lambda` functions

__value1__ `if` __condition__ `else` __value2__

In [115]:
numbers = [-2, 0, 1, 2, 17, 4, 5, 6]

list(map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers))

['even', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

### **Passing arguments to a `lambda` function**

#### As like normal functions, `lambda` functions support all types of arguments:
* position arguments
* keyword arguments
* default arguments
* variable list of position arguments (*args)
* variable list of keyword arguments (**kwargs)
* required arguments (*)

In [117]:
f1 = lambda x, y, z: x + y + z
f2 = lambda x, y, z=3: x + y + z
f3 = lambda *args: sum(args)
f4 = lambda **kwargs: sum(kwargs.values())
f5 = lambda x, *, y=0, z=0: x + y + z

print(f1(1, 2, 3))
print(f2(1, 2))
print(f2(1, y=2))
print(f3(1, 2, 3, 4, 5))
print(f4(one=1, two=2, three=3))
print(f5(1))
print(f5(1, y=2, z=3))

6
6
6
15
6
1
6

### **`lambda` function as expressions**

#### `lambda` function can be called immediately:

In [119]:
print((lambda х, у: х + у)(5, 10)) # 5 + 10 | lambda takes `5` and `10` as its parameters `x` and `y`
print(1 + (lambda x: x*5)(10) + 2) # 1 + 50 + 2 | lambda takes `10` as its parameter `x`

15
53

In [124]:
4*6*9*23*5

24840

### Example of using `map()`, `filter()` and `reduce()` with `lambda` functions:

A program that prints a list of `primary` cities with a population greater than 10,000,000 in alphabetically sorted order in the following format: `Cities: city, city2, ... `

In [133]:
from functools import reduce

data = [['Tokyo', 35676000, 'primary'],
        ['New York', 19354922, 'nan'],
        ['Mexico City', 19028000, 'primary'],
        ['Mumbai', 18978000, 'admin'],
        ['Sao Paulo', 18845000, 'admin'],
        ['Delhi', 15926000, 'admin'],
        ['Shanghai', 14987000, 'admin'],
        ['Kolkata', 14787000, 'admin'],
        ['Los Angeles', 12815475, 'nan'],
        ['Dhaka', 12797394, 'primary'],
        ['Buenos Aires', 12795000, 'primary'],
        ['Karachi', 12130000, 'admin'],
        ['Cairo', 11893000, 'primary'],
        ['Rio de Janeiro', 11748000, 'admin'],
        ['Osaka', 11294000, 'admin'],
        ['Beijing', 11106000, 'primary'],
        ['Manila', 11100000, 'primary'],
        ['Moscow', 10452000, 'primary'],
        ['Istanbul', 10061000, 'admin'],
        ['Paris', 9904000, 'primary']]

data_filtering = filter(lambda x: x[1] > 10000000 and x[2] == 'primary', data)
cities_list = list(map(lambda x: x[0], data_filtering))

print('Cities: ' + reduce(lambda x, y: ', '.join((x, y)), sorted(cities_list)))

Cities: Beijing, Buenos Aires, Cairo, Dhaka, Manila, Mexico City, Moscow, Tokyo

## **`Standard functions any(), all(), zip(), enumerate()`**

### **Functions `all()`, `any()`**

#### **`all()`** returns True, if all the elements of the iterable object are True, and False otherwise

#### Recall what is False in Python:
* constants None and False
* any numeric type nulls: 0, 0.0, 0j, Decimal(0), Fraction(0, 1)
* empty collections: '', (), [], {}, set(), range(0)

In [6]:
print(all([True, True, True]))
print(all([True, True, False]))
print(all([1, 2, 3]))   
print(all([1, 2, 3, 0, 5]))
print(all([True, 0, 1]))
print(all(('', 'red', 'green')))
print(all({0j, 3+4j}))
print(all({0: 'Zero', 1: 'One', 2: 'Two'}))
print(all({'Zero': 0, 'One': 1, 'Two': 2}))

True
False
True
False
False
False
False
False
True

In [3]:
# but:
print(all([]))      
print(all(()))      
print(all(''))      
print(all([[], []]))

True
True
True
False

#### **`all()`** returns True, if at least one element of the iterable object is True, and False otherwise

In [7]:
print(any([False, True, False]))
print(any([False, False, False]))
print(any([0, 0, 0]))
print(any([0, 1, 0]))
print(any([False, 0, 1]))
print(any(['', [], 'green']))
print(any({0j, 3+4j, 0.0}))
print(any({0: 'Zero'}))
print(any({'Zero': 0, 'One': 1}))

True
False
False
True
True
True
True
False
True

In [8]:
# but
print(any([]))
print(any(()))
print(any(''))
print(any([[], []]))

False
False
False
False

### **Functions `all()`, `any()` together with `map()` function**

In [11]:
numbers = [17, 90, 78, 56, 231, 45, 5, 89, 91, 11, 19]

# lambda returns True if number > 10 else False for each number in the list
# and then all() returns True if all elements are True else False

result = all(map(lambda x: x > 10, numbers))

print('All numbers greater than 10' if result else 'At least one number is less than or equal 10')

At least one number is less than or equal 10

In [14]:
numbers2 = [17, 91, 78, 55, 231, 45, 5, 89, 99, 11, 19]

result = any(map(lambda x: x % 2 == 0, numbers2))

print('At least one number is even' if result else 'All numbers are odd')

At least one number is even

### **Function `enumerate()`**

#### **`enumerate()`** returns a tuple with an index of the element and an element itself from the iterable object

`enumerate(iterable, start)`, where start is a starting value of index and is 0 by default

In [21]:
colors = ['red', 'green', 'blue']

for index, color in enumerate(colors):
    print(index, color)
    
print(*enumerate(colors, 100))

0 red
1 green
2 blue
(100, 'red') (101, 'green') (102, 'blue')

### **Function `zip()`**

#### **`zip()`** pairs elements from each of the passed sequencies in a tuple

#### **`zip()`** can aggregate elements from two or more iterables

#### If the passed iterators have different lengths, the iterator with the least items decides the length of the resulting iterator

In [24]:
numbers = [1, 2, 3]
words = ['one', 'two', 'three']
romans = ['I', 'II', 'III']

print(*zip(numbers, words, romans), sep='\n')

(1, 'one', 'I')
(2, 'two', 'II')
(3, 'three', 'III')

#### **`zip()`** is helpful for creating dictionaries from the lists

In [28]:
keys = ['name', 'age', 'gender']
values = ['Tom', 28, 'male']

dict(zip(keys, values))

{'name': 'Tom', 'age': 28, 'gender': 'male'}

#### **`zip()`** is helpful for parallel iteration over several collections at once

In [37]:
name = ['Tom', 'John', 'Mark']
age = [28, 21, 19]

for x, y in zip(name, age):
    print(x, y)
    
print(*[(x, y) for x, y in zip(name, age)])

Tom 28
John 21
Mark 19
('Tom', 28) ('John', 21) ('Mark', 19)

#### **`zip()`** and **`enumerate()`** can be used together

In [40]:
list1 = ['a1', 'a2', 'a3']
list2 = ['b1', 'b2', 'b3']

for index, (item1, item2) in enumerate(zip(list1, list2)):
    print(index, item1, item2)
    
print(*enumerate(zip(list1, list2)))

0 a1 b1
1 a2 b2
2 a3 b3
(0, ('a1', 'b1')) (1, ('a2', 'b2')) (2, ('a3', 'b3'))

## **Problems**

1. Based on values from 3 lists, return an information for each country in the following way: `<capital> is the capital of <country>, population equal <population> people.`

In [51]:
countries = ['Russia', 'USA', 'UK', 'Germany', 'France', 'India']
capitals = ['Moscow', 'Washington', 'London', 'Berlin', 'Paris', 'Delhi']
population = [145_934_462, 331_002_651, 80_345_321, 67_886_011, 65_273_511, 1_380_004_385]

for capital, country, population in zip(capitals, countries, population):
    print(f'{capital} is the capital of {country}, population equal {population} people.')

Moscow is the capital of Russia, population equal 145934462 people.
Washington is the capital of USA, population equal 331002651 people.
London is the capital of UK, population equal 80345321 people.
Berlin is the capital of Germany, population equal 67886011 people.
Paris is the capital of France, population equal 65273511 people.
Delhi is the capital of India, population equal 1380004385 people.

2. You are given 3 lines of text with numbers - abscissas (x), ordinates (y) and applicates (z) coordinates of the points. Create a program that checks if all the points are on or inside the circle with the center in (0, 0) and radius = 2

In [58]:
#abscissas = [float(i) for i in input().split()]
#ordinates = [float(i) for i in input().split()]
#applicates = [float(i) for i in input().split()]

abscissas = [float(i) for i in [0.637, -0.411, -0.247, 1.658, 0.061]]
ordinates = [float(i) for i in [-0.78, -1.374, 0.762, 0.306, -0.614]]
applicates = [float(i) for i in (-1.317, -0.444, -0.572, -0.341, 0.295)]

print(all(map(lambda x: x[0]**2 + x[1]**2 + x[2]**2 <= 4, zip(abscissas, ordinates, applicates))))

True

3. Create a program that checks if a password is a good one. (Good password has length > 7, include at least 1 digit, 1 uppercase letter and 1 lowercase letter)

In [60]:
pwd = 'abcABC9'

check_len = len(pwd) >= 7
check_digit = any(map(lambda x: x.isdigit(), pwd))
check_upper = any(map(lambda x: x.isupper(), pwd))
check_lower = any(map(lambda x: x.islower(), pwd))

res = all([check_len, check_digit, check_upper, check_lower])

print('YES' if res else 'NO')

YES

4. You're given 2 numbers `a` and `b`. Create a program that returns all integer number(s) between `a` and `b` [a, b], that are divisible by all of its digits

In [61]:
a = 50
b = 150

lst = range(a, b+1)

def check(num):
    return all(map(lambda x: int(x) and num % int(x) == 0, str(num)))

print(*list(filter(check, lst)))

55 66 77 88 99 111 112 115 122 124 126 128 132 135 144