# **Tuples**
______________________________

#### **`tuple`** is an immutable data structure that can collects all types of data

## **`Tuple creation`**

In [1]:
empty_tuple = ()                                      # tuple with no elements
one_element_tuple = (1,)                              # tuple of just 1 element (a comma is necessary)
point = (1.5, 6.0)                                    # tuple of 2 floats
names = ('Timur', 'Ruslan', 'Roman')                  # tuple of 3 strings
info = ('Timur', 'Guev', 28, 170, 60, False)          # tuple of 6 different types of data
nested_tuple = (('one', 'two'), ['three', 'four'])    # tuple of tuple and list (nested tuple)
tuple(list((1,2,3,4)))                                # tuple from a list using a function tuple()

(1, 2, 3, 4)

## **`Properties and advantages of tuples:`**
1. faster than lists
2. safer than list as immutable
3. unchangeable
4. usually store elements of different data type

#### Although tuples are immutable, we can change the list as an element of a tuple.

In [2]:
my_tuple = (1, 'python', [1, 2, 3])
print(my_tuple)
my_tuple[2][0] = 100
my_tuple[2].append(17)
print(my_tuple)

(1, 'python', [1, 2, 3])
(1, 'python', [100, 2, 3, 17])

#### Another way to change a tuple is to convert it to a list first, then change, then turn back to the tuple

In [3]:
writer = ('Leo Tolstoy', 1827)
print(writer)
a = list(writer)
a[1] = 1828
writer = tuple(a)
print(writer)

('Leo Tolstoy', 1827)
('Leo Tolstoy', 1828)

## **`Features of tuples, functions and methods`**

#### Tuples support the same operations as lists, except those that change its elements:
- indexing
- methods like `index()`, `count()`
- functions like `len()`, `sum()`, `min()`, `max()`
- slicing `my_tuple[::-1]`
- opeators `in`, `not in`
- concatenation `+` and multiplication `*`

In [4]:
numbers = (1,2,3,4,5,6)

In [5]:
# len()
len(numbers)

6

In [6]:
# in
2 in numbers

True

In [7]:
# not in
5 not in numbers

False

In [8]:
# indexing
numbers[-1]

6

In [9]:
# slicing
numbers[1:3]

(2, 3)

In [10]:
# `+`
numbers + (7, 8, 9, 10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
# `*`
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [12]:
# `+=`, `*=`
a = (1, 2, 3, 4)
b = (7, 8)
a += b
b *= 5
print(a, b, sep = '\n')

(1, 2, 3, 4, 7, 8)
(7, 8, 7, 8, 7, 8, 7, 8, 7, 8)

In [13]:
# sum()
sum(numbers)

21

In [14]:
# min()
min(numbers)

1

In [15]:
# max()
max(numbers)

6

In [16]:
# index()
numbers.index(1)

0

In [17]:
# count()
numbers.count(1)

1

In [18]:
# indexing nested tuples
nums = (1, 2, (4, (6, 7, 8, 9)), 10, 11)
nums[2][1][3]

9

## **`Operations with tuples` - iterating, unpacking, comparing, sorting, converting**

### Iterating

In [19]:
# 1
for i in range(len(numbers)):
    print(numbers[i], end = ' ')

1 2 3 4 5 6

In [20]:
# 2
for i in numbers:
    print(i, end = ' ')

1 2 3 4 5 6

In [21]:
# 3
print(*numbers)

1 2 3 4 5 6

### Comparing

In [22]:
print((1, 8) == (1, 8))
print((1, 8) != (1, 10))
print((1, 9) < (1, 2))
print((2, 5) < (6,))
print(('a', 'bc') > ('a', 'de'))

True
True
False
True
False

### Sorting

In [23]:
not_sorted_tuple = (34, 1, 8, 67, 5, 9, 0, 23)
print(not_sorted_tuple)

sorted_tuple = tuple(sorted(not_sorted_tuple))
print(sorted_tuple)

(34, 1, 8, 67, 5, 9, 0, 23)
(0, 1, 5, 8, 9, 23, 34, 67)

or

In [24]:
not_sorted_tuple = ('cc', 'aa', 'dd', 'bb')
tmp = list(not_sorted_tuple)
tmp.sort()

sorted_tuple = tuple(tmp)
print(sorted_tuple)

('aa', 'bb', 'cc', 'dd')

### Converting

In [25]:
# to a list and back
tuple1 = (1, 2, 3, 4, 5)
list1 = list(tuple1)
list1

[1, 2, 3, 4, 5]

In [26]:
# list to a tuple
list1 = [1, 17.8, 'Python']
tuple1 = tuple(list1)
tuple1

(1, 17.8, 'Python')

In [27]:
# tuple into a string
notes = ('Do', 'Re', 'Mi', 'Fa', 'Sol', 'La', 'Si')
string1 = ''.join(notes)
string2 = '.'.join(notes)

print(string1)
print(string2)

DoReMiFaSolLaSi
Do.Re.Mi.Fa.Sol.La.Si

In [28]:
# string into a tuple
letters = 'abcdefghijkl'
tpl = tuple(letters)
tpl

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l')

### Unpacking

In [29]:
colors = ('red', 'green', 'blue')
a,b,c = colors

In [30]:
print(a)
print(b)
print(c)

red
green
blue

#### If we don't need all the elements in the tuple in variables we can use _

In [31]:
a, b, _ = colors

#### There should be the same number of variables as the number of elements in the tuple or we can use tailing

In [32]:
a, b, *tail = 1, 2, 3, 4, 5, 6

In [33]:
print(a)
print(b)
print(tail) # always returns a list (even if it contains None)

1
2
[3, 4, 5, 6]

In [34]:
a, b, *tail = 1, 2

In [35]:
print(a)
print(b)
print(tail) # always returns a list (even if it contains None)

1
2
[]

#### Tail can be also in the beggining or even in the middle

In [36]:
*t, a, b = 1, 2, 3

In [37]:
print(t) # always returns a list (even if it contains None)
print(a)
print(b)

[1]
2
3

In [38]:
a, *t, b = 1, 2, 3

In [39]:
print(a)
print(t) # always returns a list (even if it contains None)
print(b)

1
[2]
3

In [40]:
a, *t, b = 1, 2

In [41]:
print(a)
print(t) # always returns a list (even if it contains None)
print(b)

1
[]
2

In [42]:
singer = ('Freddie', 'Bohemian Rhapsody', 'Killer Queen', 'Love of my life', 'Mercury')

name, *songs, surname = singer

print(name)
print(songs)
print(surname)

Freddie
['Bohemian Rhapsody', 'Killer Queen', 'Love of my life']
Mercury

#### Unpacking is used not only in tuples, but we also can unpack all sequences

In [43]:
full_name = ['Leo', 'Tolstoy']
name, surname = full_name    # list unpacking
print(name)
print(surname)

a, b, c, d = 'math'    # unpacking a string
print(a, b, c, d, sep = ' ')

points = [('a', 100), ('b', 200), ('c', 300)]
letter, value = points[1]    # unpacking a list of tuples
print(letter, value, sep = ' ')

Leo
Tolstoy
m a t h
b 200