# **Dictionaries**
______________________________

## Contents:
- [Dictionary creation](#Dictionary-creation)
- [Getting elements](#Getting-elements)
- [Changing elements](#Changing-elements)
- [Functions and operators](#Functions-and-operators)
- [Dictionary methods](#Dict-methods)
- [Nested dictionaries](#Nested-Dictionaries)
- [Elements in nested dictionaries](#Getting/changing-elements-from-the-nested-dictionaries)
- [Dictionary Comprehension](#Dictionary-Comprehension)
- [Examples](#Examples)

#### **`dictionary`** - a data structure that is used to store data values in ***key: value*** pairs as a hash table
#### **`dictionary`** - a collection which is ordered (from Python 3.6), mutable and do not allow duplicates of keys
#### **`dictionary`** indexed by its keys
#### **`values`** can be of any type and can be of different type even in the same dictionary
#### **`keys`** are unique and immutable, so any immutable type object can be a key: 
 - number
 - string
 - bool
 - tuple
 - frozenset
 <br>
 ***but not lists, sets, dicts etc***

## **`Dictionary creation`**

In [1]:
a = {} # empty dictionary
b = dict() # empty dictionary
a, b

({}, {})

In [2]:
info1 = dict(name = 'Alex', age = 30, job = 'data analyst')
info1

{'name': 'Alex', 'age': 30, 'job': 'data analyst'}

In [3]:
# dict from a list of tuples
info2 = dict([('name', 'Alex'), ('age', 30), ('job', 'data analyst')])
info2

{'name': 'Alex', 'age': 30, 'job': 'data analyst'}

In [4]:
# dict from a tuple of lists
info3 = dict((['name', 'Alex'], ['age', 30], ['job', 'data analyst']))
info3

{'name': 'Alex', 'age': 30, 'job': 'data analyst'}

In [5]:
# dict from 2 lists using zip
keys = ['name', 'age', 'job']
values = ['Alex', 30, 'data analyst']
info4 = dict(zip(keys, values))
info4

{'name': 'Alex', 'age': 30, 'job': 'data analyst'}

In [6]:
d = {'C':14, 'A':12, 'T':9, 'G':18} # dict with keys - letters and values - numbers
d

{'C': 14, 'A': 12, 'T': 9, 'G': 18}

In [7]:
e = dict.fromkeys(['a', 'b']) # dict with keys 'a' and 'b' with None values
e

{'a': None, 'b': None}

In [8]:
h = dict.fromkeys(['a', 'b'], 100) # dict with keys 'a' and 'b' with 100 as values
h

{'a': 100, 'b': 100}

In [9]:
g = {a: a ** 2 for a in range(7)} # dict with numbers [0,7) as keys and squared numbers as values
g

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

## **`Getting elements`**

In [10]:
print(info2)

{'name': 'Alex', 'age': 30, 'job': 'data analyst'}

In [11]:
info2['name']

'Alex'

In [12]:
for key in d: 
    print(key, end = ' ') # iterating by key

C A T G

In [13]:
for key in d.keys(): 
    print(key, end = ' ') # the same but using function keys()

C A T G

In [14]:
print(*d) # unpacking a dictionary

C A T G

In [15]:
for key in d:
    print(d[key], end = ' ') # printing values

14 12 9 18

In [16]:
for value in d.values(): 
    print(value, end = ' ') # iterating by value

14 12 9 18

In [17]:
for key, value in d.items(): 
    print(key, '-', value, end = '; ') # iterating by both key and value

C - 14; A - 12; T - 9; G - 18;

In [18]:
d['A'] # get value by its key

12

In [19]:
d.get('A') # get value by its key using function get(), returns None if no value

12

## **`Changing elements`**

In [20]:
d['C'] = 0 # assigning a new value to a key
d

{'C': 0, 'A': 12, 'T': 9, 'G': 18}

In [21]:
d['F'] = 100 # adding a new pair key:value
d

{'C': 0, 'A': 12, 'T': 9, 'G': 18, 'F': 100}

In [22]:
d['F'] = (d['F'], 101) # adding a new additional value to a key
d

{'C': 0, 'A': 12, 'T': 9, 'G': 18, 'F': (100, 101)}

In [23]:
del d['F'] # delete a pair key:value
d

{'C': 0, 'A': 12, 'T': 9, 'G': 18}

## **`Functions and operators`**

__main functions and operators used with dictionaries__

**len()** - returns number of elements (keys) in the dict <br>
**[not] in** - checks if a dict contains a key or not (works faster than with lists)<br>
**sum()** - counts a sum of keys in dict if keys are numbers<br>
**min(), max()** - returns min and max keys<br>
**sorted()** - returns a sorted list of keys<br>

indexes and slices **don't work** with dicts
operations of + and * **unavailable** for dicts

## **`Dict methods`**

#### Dict methods items(), keys(), values() return special lists like dict_items, dict_keys, dict_values

#### __main dict methods:__

| method | what it does |
| --- | --- |
| __`dict.keys()`__ | returns keys |
| **`dict.values()`** | returns values |
|**`dict.items()`** | returns pairs key:values |
|__`dict.get(key [, default])`__ | returns value of a key, if not found returns default (None by default) |
|__`dict.setdefault(key [, default])`__| returns a value. If not found creates a new key with default value (None by default) |
|__`dict.fromkeys(seq [, value])`__ | creates a dict with keys from seq and value (None by default) |
|**`dict.update([another_dict])`** | updates a dict adding pairs key:values from another_dict. Current keys update. Returns None (not the new dict) |
|**`dict.copy()`** | returns a copy of a dict |
|**`dict.pop(key [, default])`** | removes a key and returns its value. If not found returns default or Error |
|**`dict.popitem()`** | removes and returns a last added key:value pair. If dict is empty returns KeyError |
|**`dict.clear()`** | deletes everything from the dict |
|**`del dict[key]`** | deletes a key from a dict |

## **`Nested Dictionaries`**

__Nested dict__ is a dict where the values of the keys are also dicts

In [24]:
info1 = {'emp1': {'name': 'John', 'job': 'Teacher'},
        'emp2': {'name': 'Pete', 'job': 'Developer'},
        'emp3': {'name': 'Adam', 'job': 'Tester'}}
info1

{'emp1': {'name': 'John', 'job': 'Teacher'},
 'emp2': {'name': 'Pete', 'job': 'Developer'},
 'emp3': {'name': 'Adam', 'job': 'Tester'}}

In [25]:
info2 = dict(emp1 = {'name': 'John', 'job': 'Teacher'},
            emp2 = {'name': 'Pete', 'job': 'Developer'},
            emp3 = {'name': 'Adam', 'job': 'Tester'})
info2

{'emp1': {'name': 'John', 'job': 'Teacher'},
 'emp2': {'name': 'Pete', 'job': 'Developer'},
 'emp3': {'name': 'Adam', 'job': 'Tester'}}

In [26]:
ids = ['emp1', 'emp2', 'emp3']

emp_info = [{'name': 'Timur', 'job': 'Teacher'},
            {'name': 'Ruslan', 'job': 'Developer'},
            {'name': 'Rustam', 'job': 'Tester'}]

info3 = dict(zip(ids, emp_info))
info3

{'emp1': {'name': 'Timur', 'job': 'Teacher'},
 'emp2': {'name': 'Ruslan', 'job': 'Developer'},
 'emp3': {'name': 'Rustam', 'job': 'Tester'}}

## **`Getting/changing elements from the nested dictionaries`**

In [27]:
info1['emp2']['name']

'Pete'

In [28]:
info2['emp1']['job'] = 'Manager'

info2['emp1']

{'name': 'John', 'job': 'Manager'}

__Iteration__

In [29]:
for emp in info1:
    print(emp)
    for key in info1[emp]:
        print(key + ':', info1[emp][key])

emp1
name: John
job: Teacher
emp2
name: Pete
job: Developer
emp3
name: Adam
job: Tester

In [30]:
# another way using items()
for emp, inf in info1.items():
    print(emp)
    for key in inf:
        print(key + ':', inf[key])

emp1
name: John
job: Teacher
emp2
name: Pete
job: Developer
emp3
name: Adam
job: Tester

## **`Dictionary Comprehension`**

__Dictionaries can be generated as like lists comprehension__

{<key>: <value> for <variable> in <sequence>}

__Examples:__

In [31]:
# sequence is a range of numbers from 0 to 9
squares = {i: i**2 for i in range(10)}

squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [32]:
# iterating for an element from the string
dct = {c: c.lower()*3 for c in 'ORANGE'}

dct

{'O': 'ooo', 'R': 'rrr', 'A': 'aaa', 'N': 'nnn', 'G': 'ggg', 'E': 'eee'}

__Taking elements from a dict with a given list of keys__

In [33]:
dict1 = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F'}
selected_keys = [0, 2, 5]

dict2 = {k: dict1[k] for k in selected_keys}

dict2

{0: 'A', 2: 'C', 5: 'F'}

__Using conditions in dict comprehension__

In [34]:
# a dict with squares of only even numbers from 0 to 9
squares2 = {i: i**2 for i in range(10) if i % 2 == 0}

squares2

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

__Dict comprehension of the nested dicts__

In [35]:
squares3 = {i: {j: j**2 for j in range(i + 1)} for i in range(5)}

squares3

{0: {0: 0},
 1: {0: 0, 1: 1},
 2: {0: 0, 1: 1, 2: 4},
 3: {0: 0, 1: 1, 2: 4, 3: 9},
 4: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}}

## **`Examples`**

__Create a dictionary `result` where the key is a position of a number from the list `numbers` and value is the square of this number__

In [36]:
numbers = [34, 10, -4, 6, 10, 23, -90, 100, 21, -35, -95, 1, 36, -38]

result = {pos: numbers[pos]**2 for pos in range(len(numbers)) }

**Create a dictionary `result` consisting of all elements of the given dictionary `colors` except those with *None* values**

In [37]:
colors = {'c1': 'Red', 'c2': 'Grey', 'c3': None, 'c4': 'Green', 
          'c5': 'Yellow', 'c6': 'Pink', 'c7': 'Orange', 'c8': None, 
          'c9': 'White', 'c10': 'Black', 'c11': 'Violet', 'c12': 'Gold', 
          'c13': None, 'c14': 'Amber', 'c15': 'Azure', 'c16': 'Beige', 
          'c17': 'Bronze', 'c18': None, 'c19': 'Lilac', 'c20': 'Pearl', 
          'c21': None, 'c22': 'Sand', 'c23': None}

result = {key: value for key, value in colors.items() if colors[key] != None}

__Create a dictionary `result` consisting of all elements of the given dictionary `months` but with keys, values swapped__

In [38]:
months = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 
          6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 
          11: 'November', 12: 'December'}

result = {v:k for k,v in months.items()}

__Given a string `s` of pairs nummber:word separated by a space. Create a dictionary `result` where keys are numbers from `s` and values are words__

In [39]:
s = '1:men 2:kind 90:number 0:sun 34:book 56:mountain 87:wood 54:car 3:island 88:power 7:box 17:star 101:ice'

result = {int(i): j for i, j in [i.split(':') for i in s.split()]}

__Create a dictionary `result` where keys are numbers in a range from 1 to 100 and value is ascending sorted list of all its divisors starting from 1__

In [40]:
result = {i: [j for j in range(1, i+1) if i % j == 0] for i in range(1,101)}

__Create a nested dictionary `result` with keys from the list `student_id` and values as a dictionary with names from `student_names` as keys and values from `student_grades`__

In [41]:
student_ids = ['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007', 'S008', 'S009', 'S010', 'S011', 'S012', 'S013'] 
student_names = ['Camila Rodriguez', 'Juan Cruz', 'Dan Richards', 'Sam Boyle', 'Batista Cesare', 'Francesco Totti', 'Khalid Hussain', 'Ethan Hawke', 'David Bowman', 'James Milner', 'Michael Owen', 'Gary Oldman', 'Tom Hardy'] 
student_grades = [86, 98, 89, 92, 45, 67, 89, 90, 100, 98, 10, 96, 93]

result = {x: {y:z} for x, y, z in zip(student_ids, student_names, student_grades)}
result

{'S001': {'Camila Rodriguez': 86},
 'S002': {'Juan Cruz': 98},
 'S003': {'Dan Richards': 89},
 'S004': {'Sam Boyle': 92},
 'S005': {'Batista Cesare': 45},
 'S006': {'Francesco Totti': 67},
 'S007': {'Khalid Hussain': 89},
 'S008': {'Ethan Hawke': 90},
 'S009': {'David Bowman': 100},
 'S010': {'James Milner': 98},
 'S011': {'Michael Owen': 10},
 'S012': {'Gary Oldman': 96},
 'S013': {'Tom Hardy': 93}}

__Given a string with words separated by space. Write a program that determines for each word the ordinal number of its occurrence in the text (case sensitive). For the first occurrence of the word, print 1, for the second occurrence of the same word - 2, and so on.__

In [42]:
s = 'Ashes to Ashes dust to dust'

d = {}
for i in s.split(' '):
    d[i] = d.get(i, 0) + 1
    print(d[i], end = ' ')

1 1 2 1 2 2