# **Lists**
______________________________

## Contents:
- [List creation](#List-creation)
- [Print a list](#Print-a-list)
- [Operations with lists](#Operations-with-lists)
- [List functions](#List-functions)
- [Indexing and slicing](#Indexing-and-slicing)
- [List methods](#List-methods)
- [List comprehension](#List-comprehension)
- [Lists of lists](#Lists-of-lists)
- [Nested lists functions](#Nested-lists-functions)
- [Nested list methods](#Nested-list-methods)
- [Matrices as lists of lists](#Matrices-as-lists-of-lists)
- [Actions with matrices](#Actions-with-matrices)
- [Operations under the matrices](#Operations-under-the-matrices)

#### **`list`** is a data structure that collects data as stack
#### **`list`** is mutable

## **`List creation`**

In [1]:
# list creation
mylist1 = [] # empty list
mylist2 = list() # empty list
numbers = [1,2,3,4,5] # create a list with elements (can be other objects as well)
numbers = list(range(1, 6)) # the same as above
even_numbers = list(range(0, 11, 2))
odd_numbers = list(range(1, 12, 2))
chars = list('abcd')
words = ['this','is','my','list']

## **`Print a list`**

In [2]:
# print out list elements
print(numbers) # as list
print(*numbers) # as unpacked list
for i in numbers: # iterating a list
    print(i, end = ' ')

[1, 2, 3, 4, 5]
1 2 3 4 5
1 2 3 4 5

## **`Operations with lists`**

In [3]:
even_numbers + words # lists summation

[0, 2, 4, 6, 8, 10, 'this', 'is', 'my', 'list']

In [4]:
numbers * 3 # list multiplication

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [5]:
numbers += numbers # changing a list

In [6]:
words *= 3 # changing a list

In [7]:
numbers[4] = 6 # changing an element in the list by its index
numbers

[1, 2, 3, 4, 6, 1, 2, 3, 4, 5]

## **`List functions`**

In [8]:
# main functions
len(words) # counts a number of elements in the list

12

In [9]:
'is' in words # checks if an element is in the list

True

In [10]:
sum(numbers) # calculates a sum of all elements in the list (works with integers and floats, not strings)

31

In [11]:
min(odd_numbers) # finds a minimum element in the list

1

In [12]:
max(even_numbers) # finds a maximum element in the list

10

In [13]:
del numbers[:2] # deletes elements from the list by its index or slice

## **`Indexing and slicing`**

Lists are mutable, so its elements can be modified by its index

In [14]:
lst = ['sgs', 45, True, 565, 'yes']

In [15]:
lst[0] = 'no'

lst

['no', 45, True, 565, 'yes']

In [16]:
lst[1:4]

[45, True, 565]

In [17]:
lst[-1]

'yes'

## **`List methods`**

List methods always change the list which they apllied to

| method | what it does |
| --- | --- |
| __`list_name.append(111)`__| adds an element in the end of the list |
|**`list_name.extend('extended')`** | extends a list with elements 'e', 'x', 't', 'e', 'n', 'd', 'e', 'd' |
|**`list_name.insert(1, 'A')`** | inserts an element into a list. list.insert(index, value) |
|**`list_name.index('is')`** | returns an index (place in the list) of the element |
|**`list_name.remove('A')`** | removes an element from the list |
|**`list_name.pop(5)`** | takes out an element and copy it in the memory |
|**`list_name.count('e')`** | returns an amount of an element in the list |
|**`list_name.reverse()`** | inverts an element order in the list |
|**`list_name.clear()`** | deletes all the elements from the list |
|**`list_name.copy()`** | makes a copy of the list in the memory |
|**`list_name.sort()`** | sorts the list in ascending order |

In [18]:
numbers.append(111) # adds an element in the end of the list
numbers

[3, 4, 6, 1, 2, 3, 4, 5, 111]

In [19]:
words.extend('extended') # extends a list with elements 'e', 'x', 't', 'e', 'n', 'd', 'e', 'd' 
words

['this',
 'is',
 'my',
 'list',
 'this',
 'is',
 'my',
 'list',
 'this',
 'is',
 'my',
 'list',
 'e',
 'x',
 't',
 'e',
 'n',
 'd',
 'e',
 'd']

In [20]:
numbers.insert(1, 'INSERTED') # inserts an element into a list. list.insert(index, value)
numbers

[3, 'INSERTED', 4, 6, 1, 2, 3, 4, 5, 111]

In [21]:
words.index('is') # returns an index (place in the list) of the element

1

In [22]:
numbers.remove('INSERTED') # removes an element from the list
numbers

[3, 4, 6, 1, 2, 3, 4, 5, 111]

In [23]:
numbers.pop(5) # takes out an element and copy it in the memory

3

In [24]:
words.count('e') # returns an amount of an element in the list

3

In [25]:
numbers.reverse() # inverts an element order in the list
numbers

[111, 5, 4, 2, 1, 6, 4, 3]

In [26]:
words.clear() # deletes all the elements from the list
words

[]

In [27]:
numbers.copy() # makes a copy of the list in the memory

[111, 5, 4, 2, 1, 6, 4, 3]

In [28]:
numbers.sort() # sorts the list in ascending order
numbers

[1, 2, 3, 4, 4, 5, 6, 111]

In [29]:
numbers.sort(reverse = True) # sorts the list in descending order
numbers

[111, 6, 5, 4, 4, 3, 2, 1]

In [30]:
chars.sort() # sorts chars and words as well (in lexicograph order)
chars

['a', 'b', 'c', 'd']

## **`List comprehension`**

This is a mechanism to create lists easily

In [31]:
[i for i in range(10)] # creates a list of all numbers in the range from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
[0 for i in range(20)] # creates a list with 20 zeros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [33]:
[i**3 for i in range(10,21,2)] # creates a list with the cubes of even numbers from 10 to 20

[1000, 1728, 2744, 4096, 5832, 8000]

In [34]:
[c for c in 'abcdef'] # creates a list with letters from the string (equal to list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [35]:
# can be used also to get the list from the string inputs
[input() for _ in range(int(input()))]

 2
 23
 75

['23', '75']

In [36]:
# can be used also to get the list from the integer inputs
[int(input()) for _ in range(int(input()))]

 2
 4
 6

[4, 6]

In [37]:
# can be used together with conditions
[i for i in range(10) if i % 2 == 0] # a list with even numbers from 0 to 9

[0, 2, 4, 6, 8]

In [38]:
# nested loops
[i * j for i in range(1,5) for j in range(4)]

[0, 1, 2, 3, 0, 2, 4, 6, 0, 3, 6, 9, 0, 4, 8, 12]

In [39]:
words = ['one', 'two', 'three', 'four', 'five', 'six']
[i[1] for i in words if len(i) == 3] # a list that contains the second letter of the words with length 3

['n', 'w', 'i']

## **`Lists of lists`**

### Nested list creation

In [40]:
# 1
n, m = 3, 5
my_list = []

for _ in range(n):
    my_list.append([0]*m)

my_list

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [41]:
# 2
n, m = 3, 5
my_list = [0]*n

for i in range(n):
    my_list[i] = [0]*m

my_list

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [42]:
# 3
n, m = 3, 5

my_list = [[0]*m for _ in range(n)]

my_list

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [43]:
# 4
c = [[0 for i in range(n)] for i in range(n)]
print(c)
c[0][0] = 5
print(c)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[5, 0, 0], [0, 0, 0], [0, 0, 0]]

In [44]:
# wrong way
b = [[0] * n] * n
print(b)
# because we make a link to a list - n times the same list, so
b[0][0] = 5
print(b)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[5, 0, 0], [5, 0, 0], [5, 0, 0]]

In [45]:
# 5.1 - all elements from the input
n = 3 # number of lines
my_list = []
for _ in range(n):
    my_list.append([int(i) for i in input().split()])
my_list

 3 5 7
 3 4 78
 64 2 78

[[3, 5, 7], [3, 4, 78], [64, 2, 78]]

In [46]:
# 5.2 - all elements from the input
my_list = [[int(i) for i in input().split()] for j in range(int(input()))]
print(my_list)

 2
 346 47
 25 97

[[346, 47], [25, 97]]

### Getting elements from the nested lists

In [47]:
a = [[1,2,3],[4,5,6],[7,8,9]]

In [48]:
a[1] # one row (2nd)

[4, 5, 6]

In [49]:
a[1][1] # second element in the second row

5

In [50]:
a = [[0, [9,2]], [1, [4,6,3], [5,2,3],8,3]]
a[1][2][1]

2

In [51]:
# getting rows as lists
for row in a:
    print(row)

[0, [9, 2]]
[1, [4, 6, 3], [5, 2, 3], 8, 3]

In [52]:
# getting all the elements via indices
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end = ' ')
    print()

0 [9, 2]
1 [4, 6, 3] [5, 2, 3] 8 3

In [53]:
# getting all the elements via elements
for row in a:
    for elem in row:
        print(elem, end = ' ')
    print()

0 [9, 2]
1 [4, 6, 3] [5, 2, 3] 8 3

## **`Nested lists functions`**

### Function *len()*

In [54]:
my_list = [[0], [1,2], [3,4,5], [], [10,20,30]]
len(my_list) # length = number of lists in the list of lists

5

In [55]:
# if we want to calculate number of all elements 
total = 0
for li in my_list:
    total += len(li)
print(total)

9

### Functions *max(), min()*

In [56]:
list1 = [[1,7,12,0,9,100], [1,7,90], [1,10]]
list2 = [['a','b'], ['a'], ['d','p','q']] 

print(min(list1))
print(max(list1))
print(min(list2))
print(max(list2))

[1, 7, 12, 0, 9, 100]
[1, 10]
['a']
['d', 'p', 'q']

## **`Nested list methods`**

#### Nested list methods are the same as list methods

## **`Matrices as lists of lists`**

In [57]:
# Creating a matrix as a nested list
rows, cols = 3, 4
matrix = [[277, -930, 11, 0],
          [9, 43, 6, 87],
          [4456, 8, 290, 7]]

for r in range(rows):
    for c in range(cols):
        print(matrix[r][c], end = ' ')
    print()

277 -930 11 0
9 43 6 87
4456 8 290 7

### We can have a nicier view using string functions **ljust(), rjust()**

In [58]:
for r in range(rows):
    for c in range(cols):
        print(str(matrix[r][c]).ljust(6), end = ' ')
    print()

277    -930   11     0
9      43     6      87
4456   8      290    7

In [59]:
for r in range(rows):
    for c in range(cols):
        print(str(matrix[r][c]).rjust(6), end = ' ')
    print()

   277   -930     11      0
     9     43      6     87
  4456      8    290      7

## **`Actions with matrices`**

In [60]:
# let's create a random matrix
import random
n = 8
matrix = [[random.randint(10, 99) for i in range(n)] for j in range(n)]
for row in matrix:
    print(*row)

42 26 59 18 50 25 10 75
15 59 69 58 89 27 74 11
69 11 49 66 80 73 84 18
25 16 86 39 26 44 26 67
95 59 65 67 80 77 85 16
63 41 47 84 66 66 18 32
80 53 21 10 25 27 17 78
13 36 43 59 80 93 81 57

<img src='../pics/matrix.png' />

### Main diagonal of a matrix (i == j)

In [61]:
for i in range(n):
    print(matrix[i][i], end = ' ')

42 59 49 39 80 66 17 57

### Second diagonal of a matrix (i == n - j - 1 or j == n - i - 1)

In [62]:
for i in range(n):
    print(matrix[i][n-i-1], end = ' ')

75 74 73 26 67 47 53 13

In [63]:
# using ~i
for i in range(n):
    print(matrix[i][~i], end = ' ') # where ~i = not i (~i = -i - 1)

75 74 73 26 67 47 53 13

### Sum of elements of the main diagonal

In [64]:
print(sum([matrix[i][i] for i in range(n)]))

409

### Max element in the lower left triangle

In [65]:
print(max(max(matrix[i][:i+1]) for i in range(n)))

95

### Changing the columns number 0 and 1 in the matrix

In [66]:
col1, col2 = 0, 1

for i in range(n):
    matrix[i][col1], matrix[i][col2] = matrix[i][col2], matrix[i][col1]

for row in matrix:
    print(*row)

26 42 59 18 50 25 10 75
59 15 69 58 89 27 74 11
11 69 49 66 80 73 84 18
16 25 86 39 26 44 26 67
59 95 65 67 80 77 85 16
41 63 47 84 66 66 18 32
53 80 21 10 25 27 17 78
36 13 43 59 80 93 81 57

### Check if matrix is symmetric

In [67]:
print('YES' if all([matrix[i][j] == matrix[j][i] for j in range(n) for i in range(n)]) else 'NO')

NO

### Changing elements in the diagonals

In [68]:
for i in range(n):
    matrix[i][i], matrix[n-i-1][i] = matrix[n-i-1][i], matrix[i][i]
    
for row in matrix:
    print(*row)

36 42 59 18 50 25 10 57
59 80 69 58 89 27 17 11
11 69 47 66 80 66 84 18
16 25 86 67 80 44 26 67
59 95 65 39 26 77 85 16
41 63 49 84 66 73 18 32
53 15 21 10 25 27 74 78
26 13 43 59 80 93 81 75

### Swapping the rows over the horizontal axis of symmetry

In [69]:
for i in range(n//2):
    matrix[i], matrix[n-i-1] = matrix[n-i-1], matrix[i]
    
for row in matrix:
    print(*row)

26 13 43 59 80 93 81 75
53 15 21 10 25 27 74 78
41 63 49 84 66 73 18 32
59 95 65 39 26 77 85 16
16 25 86 67 80 44 26 67
11 69 47 66 80 66 84 18
59 80 69 58 89 27 17 11
36 42 59 18 50 25 10 57

### Rotating matrix by 90 degrees

In [70]:
for row in zip(*matrix[::-1]):
    print(*row)

36 59 11 16 59 41 53 26
42 80 69 25 95 63 15 13
59 69 47 86 65 49 21 43
18 58 66 67 39 84 10 59
50 89 80 80 26 66 25 80
25 27 66 44 77 73 27 93
10 17 84 26 85 18 74 81
57 11 18 67 16 32 78 75

### Check if matrix is a magic square (matrix n x n with all numbers 1,2,3,...,n**2, so that all sums of rows, cols and diags are equal

In [71]:
print(('NO', 'YES')[set(sum(matrix, [])) == set((*range(1, n ** 2 + 1),))   # sequence of integers from 1 to n**2
                    and  
                    len(set(map(sum, (*a,                              # sum of rows
                                  *zip(*a),                            # sum of cols (transponed)
                                  [a[i][i] for i in range(n)],         # sum of main diagonal
                                  [a[i][~i] for i in range(n)]))       # sum of the 2nd diagonal
                       )) == 1])                                       # all are the same

NO

### Filling the matrix with '1' on the additional diagonal, with '0' above this diag and '1' below it

In [72]:
n = int(input())

b = [[0 if i < n-1-j else 2 if i > n-1-j else 1 for j in range(n)] for i in range(n)]

for row in b:
    print(*row)

# in one line
# [print(*[0 if i < n-1-j else 2 if i > n-1-j else 1 for j in range(n)]) for i in range(n)]

 2

0 1
1 2

## **`Operations under the matrices`**

#### We can **sum** matrices with equal dimensions *(n x m)*. Each element of the result matrix equals the sum of the corresponding elements of the intitial matrices

$$C_{n\times m} = A_{n\times m} + B_{n\times m}$$
$$c_{ij} = a_{ij} + b_{ij}$$

#### Properties of matrix summation:

$$ A + B = B + A $$
$$ A + (B + C) = (A + B) + C $$
$$ A + 0 = 0 + A = A $$
$$ A + (-A) = 0 $$

In [73]:
# matrix A plus matrix B
n, m = 2, 4

A = [[1, 2, 3, 4], [5, 6, 7, 8]]
B = [[3, 2, 1 ,2], [1, 3, 1, 3]]

C = [[0]*m for i in range(n)]

for i in range(n):
    for j in range(m):
        C[i][j] = A[i][j]+B[i][j]

for row in C:
    print(*row)
# [print(*i) for i in C]

4 4 4 6
6 9 8 11

#### We can **multiply** the matrix by a number. In the result matrix each element is the result of multiplying corresponding element by a given number. Dimensions *(n x m)* remain the same.

$$ B = k\times A$$

#### Properties of product of the matrix with a number:

$$ 1 \times A = A $$
$$ 0 \times A = 0 $$
$$ k \times (A + B) = k \times A + k \times B $$
$$ (k + n) \times A = k \times A + n \times A $$
$$ (k \times n) \times A = k \times (A \times n) $$

In [74]:
# matrix A multiplied by k
n, m, k = 2, 4, 3

A = [[1, 2, 3, 4], [5, 6, 7, 8]]

C = [[0]*m for i in range(n)]

for i in range(n):
    for j in range(m):
        C[i][j] = A[i][j]*k

for row in C:
    print(*row)
# [print(*i) for i in C]

3 6 9 12
15 18 21 24

#### We can calculate a **product** of the two matrices. In the result matrix each element is the sum of the products of the corresponding row elements of the first matrix with column elements of the second matrix.

#### A dot product of two matrices can be calculated only if the number of columns in one matrix is equal to the number of rows in the second matrix.

$$ c_{ij} = \sum_{r=1}^{m} a_{ir} \cdot b_{rj} = a_{i1} \cdot b_{1j} + a_{i2} \cdot b_{2j} + ... + a_{im} \cdot b_{mj} $$

#### Properties of product of the matrices:

$$ (A \times B) \times C = A \times (B \times C) $$
$$ A \times (B \times C) = A \times B + A \times C, (A + B) \times C = A \times C + B \times C $$
$$ (k \times A) \times B = k \times (A \times B) = A \times (k \times B) $$
$$ A \times B \neq B \times A $$

In [75]:
# a product of matrix A and B
n, m = 3, 2
m, k = 2, 3

A = [[2, 5], [6, 7], [1, 8]]
B = [[1, 2, 1], [0, 1, 0]]

C = [[0]*n for _ in range(k)]

for i in range(n):
    for j in range(k):
        for x in range(m):
            C[i][j] += A[i][x] * B[x][j]

for row in C:
    print(*row)
# [print(*i) for i in C]

2 9 2
6 19 6
1 10 1

In [76]:
# exponentiation of a matrix

def matrix_product(A, B):
    n = len(A)
    C = [[0]*n for _ in range(n)]
    for i in range(n):
        for j in range(n):
            for x in range(n):
                C[i][j] += A[i][x] * B[x][j]
    return C

n = 3
A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
m = 4

B = A

for i in range(1, m):
    B = matrix_product(A, B)

for row in B:
    print(*row)    

# [print(*i) for i in B]

7560 9288 11016
17118 21033 24948
26676 32778 38880