# **Sets**
______________________________

## Contents:
- [Set creation](#Set-creation)
- [Functions with sets](#Functions-with-sets)
- [Operations with sets](#Operations-with-sets---iterating,-unpacking,-sorting,-comparing)
- [Set methods and operations](#Set-methods-and-operations)
- [Set comprehension](#Set-comprehension)
- [Frozenset](#Frozenset)

#### **`Set`** is a data structure that collects data in an unordered, unchangeable, and unindexed way.
#### **`sets`**  are used to store multiple items in a single variable, but do not allow duplicate values.
#### **`set`** is mutable

## **`Set creation`**

In [1]:
myset0_1 = set()              # empty set 1
myset0_2 = set([])            # empty set 2
myset0_3 = set('')            # empty set 3
myset0_4 = set(())            # empty set 4

myset2 = set(range(10))   # a set from a sequence
myset3 = set([1,2,3,4,5]) # a set from a list
myset4 = set('abcd')      # a set of chars from the string
myset5 = set((10, 20, 30, 40))  # a set from the tuple elements
myset6 = myset5.copy()          # a set from a set copy

myset7 = set()
for c in '12345':               # a set of numbers from a string
    myset7.add(int(c))

In [2]:
# a difference between set of symbols from the string from the set of strings
set1 = set(['aaa','bbb','ccc'])
set2 = set('aaa bbb ccc')

print(set1)
print(set2)

{'ccc', 'aaa', 'bbb'}
{'c', 'a', ' ', 'b'}

### Sets only include immutable iterated elements

In [3]:
# s1 = {1, 2, [5, 6], 7} # NOK
# s2 = {1, 2, {5, 6}, 7} # NOK
s3 = {1, 2, (5, 6), 7}   # OK

print(s3)

{1, 2, (5, 6), 7}

### Duplicates removing from the sets

In [4]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
numbers = set([1,2,2,3,4])
letters = set('aaaaabbbbbccccc')

# showing that duplicates have been removed
print(basket)
print(numbers)
print(letters)

{'banana', 'apple', 'pear', 'orange'}
{1, 2, 3, 4}
{'c', 'a', 'b'}

## **`Functions with sets`**

#### sets support functions like `len()`, `sum()`, `min()`, `max()`
#### sets __do not__ support indexing and slicing
#### sets __do not__ support `+` and `*`

In [5]:
len(basket) # length of the set - a number of elements in the set

4

In [6]:
'orange' in basket # fast membership testing

True

In [7]:
'crabgrass' not in basket

True

In [8]:
numbers = {2,2,2,3,3,3,3,4,4,4} # duplicates will be removed

print(sum(numbers)) # counts a sum of numbers in the set
print(min(numbers))
print(max(numbers))

9
2
4

## **`Operations with sets`** - iterating, unpacking, sorting, comparing

In [9]:
# iterating
for num in numbers:
    print(num)

2
3
4

In [10]:
# unpacking
print(*numbers)

2 3 4

In [11]:
# sorting
print(*sorted(numbers, reverse = True)) # reverse is optional

4 3 2

In [12]:
# comparing
set1 = {1,2,3,3,3,3}
set2 = {2,1,3}
set3 = {1,2,3,4}

print(set1 == set2)
print(set1 == set3)
print(set1 != set3)

True
False
True

## **`Set methods and operations`**

### Methods that change a set

| method | what it does |
| --- | --- |
| **`s.add(element)`** | adding new element |
|**`s.remove(element)`** | removing an element with an error if not found |
|**`s.discard(element)`** | removing an element with no error if not found |
|**`set.pop()`** | removing the first element (which is actually random) from the set |
| **`s.clear()`** | deleting all elements from the set |

In [13]:
basket.add('kiwi')
basket

{'apple', 'banana', 'kiwi', 'orange', 'pear'}

In [14]:
basket.remove('pear')
basket

{'apple', 'banana', 'kiwi', 'orange'}

In [15]:
basket.discard('pineapple')
basket

{'apple', 'banana', 'kiwi', 'orange'}

In [16]:
basket.pop()

'apple'

In [17]:
basket.update(set1)
basket

{1, 2, 3, 'banana', 'kiwi', 'orange'}

In [18]:
basket.copy()

{1, 2, 3, 'banana', 'kiwi', 'orange'}

In [19]:
basket.clear()
basket

set()

### Operations with 2 or more sets without changing it 
#### These methods return a new set

| method | description |
| --- | --- |
| **`set1.union(set2)`** | union of two sets *(set1 \| set2)* |
|**`set1.intersection(set2)`** | intersection of two sets *(set1 & set2)* |
|**`set1.difference(set2)`** | difference of two sets *(set1 - set2)* |
|**`set1.symmetric_difference(set2)`** | symmetric difference of two sets *(set1 ^ set2)* |

#### Sets union
<img src='../pics/sets_union.png' width = 200>

In [20]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

In [21]:
myset3 = myset1.union(myset2)
# which is equal to
myset3 = myset1 | myset2

myset3

{1, 2, 3, 4, 5, 6, 7, 8}

#### Sets intersection
<img src='../pics/sets_intersection.png' width = 200>

In [22]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

In [23]:
myset3 = myset1.intersection(myset2)
# which is equal to
myset3 = myset1 & myset2

myset3

{3, 4}

#### Sets difference
<img src='../pics/sets_difference.png' width = 200>

In [24]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

In [25]:
myset3 = myset1.difference(myset2)
# which is equal to
myset3 = myset1 - myset2

myset3

{1, 2, 5}

In [26]:
myset4 = myset2.difference(myset1)
# which is equal to
myset4 = myset2 - myset1

myset4

{6, 7, 8}

#### Symmetric difference of the sets
<img src='../pics/sets_sym_difference.png' width = 200>

In [27]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

In [28]:
myset3 = myset1.symmetric_difference(myset2)
# which is equal to
myset3 = myset1 ^ myset2

myset3

{1, 2, 5, 6, 7, 8}

In [29]:
myset1 ^ myset2 == myset2 ^ myset1 # because of symmetry

True

#### Methods above can take not only sets as arguments but also another iterated object, however operands can be used only with sets

### Corresponding methods that change sets:

| method | description |
| --- | --- |
|**`s.update(another_set, ...)`** | sets union |
|**`s.intersection_update(another_set, ...)`** | sets intersection |
|**`s.difference_update(another_set, ...)`** | sets difference |
|**`s.symmetric_difference_update(another_set)`** | set of elements found in one set, but not found in both |

### Subsets and Supersets

| method | what it does |
|---|---|
|**`set1.issubset(set2)`** or **`set1 <= set2`** | checks if all elements of set1 belong to set2 |
|**`set2.issuperset(set1)`** or **`set2 >= set1`** | the same as above - checks if set2 is a superset of set1 |
|**`set1.isdisjoint(set2)`** | checks if set1 and set2 don't have common elements (True if no common elements) |

In [30]:
set1 = {2, 3}
set2 = {1, 2, 3, 4, 5, 6}

In [31]:
set1.issubset(set2)

True

In [32]:
set2.issuperset(set1)

True

In [33]:
set1.isdisjoint(set2)

False

### Comparison table for methods and operands

| function | description |
|---|---|
| __`A \| B`__ <br> __`A.union(B)`__ | returns a new set that is a union of `A` and `B` |
| __`A \|= B`__ <br> __`A.update(B)`__ | adds to `A` all elements from `B` |
| __`A & B`__ <br> __`A.intersection(B)`__ | returns a new set that is an intersection of `A` and `B` |
| __`A &= B`__ <br> __`A.intersection_update(B)`__ | keeps in `A` only those elements that are in `B` |
| __`A - B`__ <br> __`A.difference(B)`__ | returns a difference between `A` and `B` |
| __`A -= B`__ <br> __`A.difference_update(B)`__ | removes from `A` those elements that are in `B` |
| __`A ^ B`__ <br> __`A.symmetric_difference(B)`__ | returns a symmetric difference between `A` and `B` |
| __`A ^= B`__ <br> __`A.symmetric_difference_update(B)`__ | puts in `A` a symmetric difference between `A` and `B` |
| __`A <= B`__ <br> __`A.issubset(B)`__ | returns `True` if `A` is a subset of `B` |
| __`A >= B`__ <br> __`A.issuperset(B)`__ | returns `True` if `A` is a superset of `B` |
| __`A < B`__ | equals to __`A <= B and A != B`__ |
| __`A > B`__ | equals to __`A >= B and A != B`__ |

## **`Set comprehension`**

The same mechanism as list comprehension is also supported for sets

In [34]:
digits = {int(i) for i in '12345'} # or from the input()
digits

{1, 2, 3, 4, 5}

In [35]:
digits2 = {int(i) for i in 'abcg345jfyR5634,sd' if i.isdigit()}
digits2

{3, 4, 5, 6}

In [36]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## **`Frozenset`**

#### **`Frozenset`** - is a set that is immutable
#### **`Frozensets`** support all the same operations and methods like usual sets do, except those that change the set
#### Unlike the usual sets, **`frozensets`** can be the elements of other sets (cause frozensets are immutable)
#### **`Frozensets`** can be compared with usual sets (frozenset == set)

### Frozenset creation

In [37]:
my_frozen_set1 = frozenset({1, 2, 3, 4, 5})                # a frozenset from a set
my_frozen_set2 = frozenset([1, 2, 2, 3, 4, 3, 4, 3, 5, 5]) # a frozenset from a list
my_frozen_set3 = frozenset('aaaaabbbbcccdddffddd')         # a frozenset from a string

In [38]:
print(my_frozen_set1)
print(my_frozen_set2)
print(my_frozen_set3)

frozenset({1, 2, 3, 4, 5})
frozenset({1, 2, 3, 4, 5})
frozenset({'c', 'a', 'f', 'd', 'b'})